<h1>My Bare Minimum: Installs & Configs for Linux Mint 16 (Petra) - 64bit</h1>

<h3>Development: </h3>

<h4>Python-IDE (Spyder), Ruby, Universal-IDEs: Geany (lightweight), Eclipse(powerful + heavy)</h4>
installs Spyder (my fav. lightweight full-ide for python), Geany & Addons as alternative to gedit (Linux Mint only allows a very old version of gedit that lacks all the cool features modern versions have),  Eclipse as heavy IDE for bigger projects with support of all programming languages (e.g. C++/C+/C, ObjC, Java, "Android", Python, ... )

{% highlight bash %}
sudo apt-get install spyder geany geany-plugins eclipse ruby1.9.1-dev
{% endhighlight %}

<h4>Useful Python Libraries and Tools:</h4>
installs rope for linting (very useful i.e. for spyder), BeautifulSoup + Lxml for WebScraping, virtualenv (you <u>should</u> know it)
{% highlight bash %}
sudo pip install rope BeautifulSoup4 lxml virtualenv 
{% endhighlight %}

<h4>Prerequisites for Numpy & Matplotlib:</h4>
installs the requirements that matplotlib needs (if "sudo apt-get install matplotlib" fails) before installing matplotlib itself:
{% highlight bash %}
sudo apt-get install python-dev libfreetype6-dev libpng-dev libjpeg8-dev libfreetype6-dev build-essential
sudo apt-get install matplotlib
{% endhighlight %}

<h4>SublimeText 3 install:</h4>
*adds the official SublimeText3 Beta to your repository & installs it:
{% highlight bash %}
sudo add-apt-repository ppa:webupd8team/sublime-text-3
sudo apt-get update
sudo apt-get install sublime-text
{% endhighlight %}

<h3>Office / PDF / Graphic Design:</h3>
<h4>Krita for (Vector-/+ Pen) Drawing</h4>
installs krita - a nice & intuitive drawing / vector drawing software with wacom tablet support
{% highlight bash %}
sudo apt-get install krita
{% endhighlight %}
<br>
<h4>Adobe Acrobat Pro <u>REAL</u> Alternative: Master PDF Editor</h4>
finally, linux has a REAL and STABLE <strong>alternative to Adobe Acrobat Pro</strong> for editing the content of a pdf:
<a href="http://code-industry.net/free-pdf-editor.php" target="_blank">Master PDF Editor</a> is free for linux only and quite powerful (like it more than Acrobat Pro!)<br><br>
<h4>Change Gimp to be more like Adobe Photoshop:</h4>
<strong>Change Gimp's (2.8 !!) UI to a Photoshop Style UI (BIG ui enhancement):</strong>
<ul>
<li>Download UI File from <a href="http://doctormo.deviantart.com/art/Gimp-2-8-Photoshop-Tweaks-432736644" target="_blank">doctormo</a></li>
<li>extract the zip file into home folder (it's a hidden ".gimp-2.8" folder)</li>
<li>done :)</li>
</ul>
<h3>System:</h3>
{% highlight bash %}
sudo apt-get install htop
{% endhighlight %}

<h1>settings and configs:</h1>
<h3>turn off bluetooth after booting up as default:</h3>
{% highlight bash linenos=table %}
sudo su 
sudo gedit /etc/bluetooth/main.conf
{% endhighlight %}
=>Look for an entry called 'Initially powered = true' and replace true with false.
<h3>Better Battery Management (Laptops) with <a href="http://linrunner.de/en/tlp/docs/tlp-linux-advanced-power-management.html">TLP</a>:</h3>

1. remove old management tool (if manually installed - basic Mint 16 <u>does not have it</u>):
{% highlight bash %}
sudo apt-get remove laptop-mode-tools
{% endhighlight %}
2. add TLP repository, install and start TLP (only @ first time after install, you have to do it manually):
{% highlight bash %}
sudo add-apt-repository ppa:linrunner/tlp
sudo apt-get update
sudo apt-get install tlp tlp-rdw
sudo tlp start
{% endhighlight %}